.my-card {
  max-width: 50%;
  transition: all 0.5s;
}

.my-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}

.my-card .card-body {
  position: relative;
}

.my-card .btn {
  position: absolute;
  bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .my-card {
    max-width: 100%;
  }
}

.show img {
  max-width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
}

